// Raw values
$honey-yellow: #f6ae2d;
$ivory: #f9fbf2;
$permanent-geranium-lake: #db3a34;
$sea-green: #09814a;
$blue-sapphire: #28536b;
$teal-blue: #537e95;
$pewter-blue: #7ea8be;
$charcoal: #373f51;

// Semantic
$warning: $honey-yellow;
$error: $permanent-geranium-lake;
$good: $sea-green;
$background-light: $ivory;
$background-dark: $charcoal;

// Base values
$text-color: $ivory;

// Components
$background-button: $blue-sapphire;
$background-button-hover: $teal-blue;
$background-button-active: $pewter-blue;
$background-navbar: $blue-sapphire;

$border-panel: $charcoal;
