// Raw values
$honey-yellow: #f6ae2dff;
$ivory: #f9fbf2ff;
$permanent-geranium-lake: #db3a34ff;
$sea-green: #09814aff;
$blue-sapphire: #28536bff;
$pewter-blue: #7ea8beff;
$charcoal: #373f51ff;

// Semantic
$warning: $honey-yellow;
$error: $permanent-geranium-lake;
$good: $sea-green;
$background-light: $ivory;
$background-dark: $charcoal;

// Base values
$text-color: $ivory;

// Components
$background-button: $blue-sapphire;
$background-navbar: $blue-sapphire;
