/* Error: Expected digit.
 *    ,
 * 21 |     transition: background 0.5s &.active {
 *    |                                   ^
 *    '
 *   styles/components/navbar/navbar.scss 21:35  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a    \2577 \a 21 \2502      transition: background 0.5s &.active {\a    \2502                                    ^\a    \2575 \a   styles/components/navbar/navbar.scss 21:35  root stylesheet";
}
