@import "../../tokens.scss";

.account-panel {
  border: 1px solid $border-panel;
  border-radius: 5px;
  width: fit-content;
  min-width: 200px;
  min-height: 40px;
  display: flex;

  &--name {
    border-right: 1px solid $border-panel;
    height: 100%;
    width: fit-content;
    min-width: 30px;
    padding: 5px;
  }

  &--balance {
    padding: 5px;
  }
}
