@import "../../styles/tokens.scss";

.button {
  color: $text-color;
  background-color: $background-button;
  padding: 10px 40px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    background-color: $background-button-hover;
  }

  &:active {
    background-color: $background-button-active;
  }
}
