@import "../../tokens.scss";

$navbar-height: 50px;

.topnav {
  background-color: $background-navbar;
  overflow: hidden;
  width: 100vw;

  a {
    text-decoration: none;
    background-color: $background-button;
    color: $text-color;
    text-align: center;
    width: 130px;
    height: $navbar-height;
    line-height: $navbar-height;
    float: left;

    &.active {
      background-color: $background-button-active;
    }

    &:hover {
      background-color: $background-button-hover;
    }
  }

  .user-button-wrapper {
    float: right;
    height: $navbar-height;
    margin-right: 9px;
    .cl-user-button {
      margin-top: 25%;
    }
  }
}
