#navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--color-y-in-mn-blue);
  overflow: hidden;

  h1 {
    margin-left: 20px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-floral-white);
      color: var(--color-black-chocolate);
    }
    @media (prefers-color-scheme: light) {
      background-color: var(--color-black-chocolate);
      color: var(--color-floral-white);
    }
  }

  a:active {
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-floral-white);
      color: var(--color-black-chocolate);
    }
    @media (prefers-color-scheme: light) {
      background-color: var(--color-black-chocolate);
      color: var(--color-floral-white);
    }
  }
}
