@import "../../styles/tokens";

#navbar {
  background-color: $background-navbar;
  overflow: hidden;
  color: $text-color;

  a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: $text-color;
    &:hover,
    &.active {
      background-color: $background-button-active;
    }
  }
  .cl-user-button {
    display: block;
    float: right;
    margin-top: 7px;
    margin-right: 8px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #navbar a:not(:first-child) {
    display: none;
  }
  #navbar .cl-user-button {
    display: none;
  }
  #navbar .hamburger {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #navbar.open {
    position: relative;
  }
  #navbar.open .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.open a {
    float: none;
    display: block;
    text-align: left;
  }
}
