@import "../../styles/tokens";

.icon-button {
  background-color: $background-navbar;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $background-button-active;
  }
}
