@import "../../styles/tokens";

.icon-button {
  background-color: $background-button;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: adjust-hue($color: $background-button, $degrees: -30);
  }
}
