// Raw values
$honey-yellow: #f6ae2d;
$white: #f7f9f9;
$permanent-geranium-lake: #db3a34;
$sea-green: #09814a;
$dark-blue: #2c5784;
$teal-blue: #537e95;
$pewter-blue: #7ea8be;
$black: #000100;

// Semantic
$warning: $honey-yellow;
$error: $permanent-geranium-lake;
$good: $sea-green;
$background-light: $white;
$background-dark: $black;

// Base values
$text-color-light: $white;
$text-color-dark: $black;

// Components
$background-button: $dark-blue;
$background-button-hover: $teal-blue;
$background-button-active: $pewter-blue;
$background-navbar: $white;

$border-panel: $black;

// Typography
$font-size-standard: 16px;
