@import "../../tokens.scss";

$navbar-height: 70px;

.topnav {
  background-color: $background-navbar;
  opacity: 60%;
  overflow: hidden;
  width: 100vw;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 90%;
  }

  a {
    text-decoration: none;
    background-color: $background-navbar;
    color: $text-color-dark;
    text-align: center;
    width: 130px;
    height: $navbar-height;
    line-height: $navbar-height;
    float: left;
    font-size: $font-size-standard;

    transition: background 0.2s;

    &.active {
      background-color: $background-button-active;
    }

    &:hover {
      background-color: $background-button-hover;
    }
  }

  .user-button-wrapper {
    margin-right: 9px;
    margin-left: auto;
    .cl-user-button {
      margin-top: 25%;
    }
  }
}
